---
import Layout from "@layouts/Layout.astro";
import Card from "~/components/Card.astro";
const response = await fetch(
  `https://api.airtable.com/v0/${import.meta.env.DB_ID}/Projects`,
  {
    headers: {
      Authorization: `Bearer ${import.meta.env.DB_TOKEN}`,
    },
  }
);
const data = await response.json();
console.log(data.records[0].fields);
---

<Layout title={"Archive"}>
  <main>
    <article class="region prose wrapper">
      <h1>Archive</h1>
      <ul>
        {
          data.records.map((project: any) => (
            <Card
              name={project.fields.Name}
              description={project.fields.Summary}
              image={project.fields["Featured Image"]}
              link={`/projects/${project.fields.Slug}`}
            />
          ))
        }
      </ul>
    </article>
  </main>
</Layout>
