---
import Layout from "../layouts/Layout.astro";
import { SITE } from "../config";
import { mostRecentPosts } from "~/lib/mostRecentPosts";
import Card from "~/components/Card.astro";
const responseAllProjects = await fetch(
  `https://api.airtable.com/v0/${
    import.meta.env.DB_ID
  }/Projects?view=Grid%20view`,
  {
    headers: {
      Authorization: `Bearer ${import.meta.env.DB_TOKEN}`,
    },
  }
);
const allProjects = await responseAllProjects.json();
const mostRecentProjects = mostRecentPosts(allProjects.records, "Created", -3);

const responseRadicalDataProjects = await fetch(
  `https://api.airtable.com/v0/${
    import.meta.env.DB_ID
  }/Projects?view=grid-rd-only`,
  {
    headers: {
      Authorization: `Bearer ${import.meta.env.DB_TOKEN}`,
    },
  }
);
const radicalDataProjects = await responseRadicalDataProjects.json();
const randomRadicalDataProjects = radicalDataProjects.records
  .sort(() => 0.5 - Math.random())
  .slice(0, 3);
---

<Layout title={`${SITE.title} | ${SITE.description}`}>
  <main>
    <article class="region prose wrapper hero">
      <h1>{SITE.name}</h1>
      <h2>
        Claiming <em>data</em> as a tool for <em>joy</em> and a million <span
          class="gradient-text">liberations</span
        >.
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>collective</h3>
          <p>
            We are a collective of <em
              >mathematicians, technologists, dancers and designers</em
            > working with digital technology for <em>joy and liberation</em>.
          </p>
        </li>
        <li class="flow">
          <h3>studio</h3>
          <p>
            We create <em>tools, analyses and artworks</em> that are
            infused with queerness and decoloniality.
          </p>
        </li>

        <li class="flow">
          <h3>research</h3>
          <p>
            We research how data is and can be used. For two years, we've been
            adding the best of what we've found to our <em>archive</em>.
          </p>
        </li>

        <li class="flow">
          <h3>education</h3>
          <p>
            We want to see activists use technology as a
            tool shape the world. To do this, we regularly run <em>workshops</em
            > and create <em>videos</em> for social media.
          </p>
        </li>
      </ul>
    </article>

    <article class="region prose wrapper">
      <h2>Our Projects</h2>
      <h3>We're making data analyses, digital tools and writing books.</h3>
      <p>Here's a random selection:</p>
      <ul>
        {
          randomRadicalDataProjects.map((project: any) => (
            <li>
              <Card
                name={project.fields.Name}
                description={project.fields.Summary}
                image={project.fields["Featured Image"]}
                link={`/projects/${project.fields.Slug}`}
              />
            </li>
          ))
        }
      </ul>
      <p>
        See all <a href="projects/">our projects</a>!
      </p>
    </article>
  </main>

  <article class="region prose wrapper">
    <h2>The Radical Data Archive</h2>
    <h3>We research ways data is being used around the world.</h3>
    <p>The projects most recently added to the archive are:</p>
    <ul>
      {
        mostRecentProjects.map((project: any) => (
          <li>
            <Card
              name={project.fields.Name}
              description={project.fields.Summary}
              image={project.fields["Featured Image"]}
              link={`/projects/${project.fields.Slug}`}
            />
          </li>
        ))
      }
    </ul>
    <p>
      Are we misssing a great project? Suggest it through the <a
        href="https://airtable.com/shr2cGQbbfIogLrun">project suggestion form</a
      >!
    </p>
    <p>
      See all the projects in <a href="archive/">the archive</a>!
    </p>
  </article>
</Layout>
<style>
  li {
    list-style: none;
  }
</style>
