---
import Layout from "../layouts/Layout.astro";
import { SITE } from "../config";
import { mostRecentPosts } from "~/lib/mostRecentPosts";
const response = await fetch(
  `https://api.airtable.com/v0/${
    import.meta.env.DB_ID
  }/Projects?view=Grid%20view`,
  {
    headers: {
      Authorization: `Bearer ${import.meta.env.DB_TOKEN}`,
    },
  }
);
const data = await response.json();
const sortedPosts = mostRecentPosts(data.records, "Created", -3);
---

<Layout title={`${SITE.title} | ${SITE.description}`}>
  <main>
    <article class="region prose wrapper hero">
      <h1>{SITE.name}</h1>
      <h2>
        Claiming <em>data</em> as a tool for <em>joy</em> and a million <span
          class="gradient-text">liberations</span
        >.
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>collective</h3>
          <p>
            We are a collective of <em
              >mathematicians, technologists, dancers and designers</em
            > who believe that data, used with care, can move us towards a world
            that is <em>autonomous, just and joyful</em>.
          </p>
        </li>
        <li class="flow">
          <h3>studio</h3>
          <p>
            We create <em>data analyses</em> and <em>digital tools</em> that are
            infused with queerness and decoloniality.
          </p>
        </li>

        <li class="flow">
          <h3>research</h3>
          <p>
            We research how data is and can be used. For two years, we've been
            adding the best of what we've found to our <em>archive</em>.
          </p>
        </li>

        <li class="flow">
          <h3>education</h3>
          <p>
            We want to see activists, instead of fearing technology, use it as a
            tool shape the world. To do this, we regularly run <em>workshops</em
            > and create <em>videos</em> for social media.
          </p>
        </li>
      </ul>
    </article>

    <article class="region prose wrapper">
      <h2>Our Projects</h2>
      <h3>We're making data analyses, digital tools and writing books.</h3>
      <iframe
        title="Radical Data's Projects"
        class="airtable-embed"
        loading="lazy"
        src="https://airtable.com/embed/shrAb6rQcbGevZtlb?backgroundColor=red&viewControls=on"
        width="100%"
        height="533"
        style="background: transparent; border: 1px solid #ccc;"></iframe>
    </article>

    <article class="region prose wrapper">
      <h2>The Radical Data Archive</h2>
      <h3>We research ways data is being used around the world.</h3>
      <iframe
        title="The Radical Data Archive"
        class="airtable-embed"
        loading="lazy"
        src="https://airtable.com/embed/shrN1QEkjzow25vTf?backgroundColor=red&viewControls=on"
        frameborder="0"
        width="100%"
        height="533"
        style="background: transparent; border: 1px solid #ccc;"></iframe>
      <p>
        Are we misssing a great project? Submit it <a
          href="https://airtable.com/shr2cGQbbfIogLrun">here</a
        >!
      </p>
      <h3>The projects most recently added to the archive are:</h3>
      <ul>
        {
          sortedPosts.map((project: any) => (
            <li>
              <a href={`/projects/${project.fields.Slug}`}>
                {project.fields.Name}
              </a>
            </li>
          ))
        }
      </ul>
    </article>
  </main>
</Layout>
