---
import Layout from "@layouts/Layout.astro";
import socialMediaLinks from "@assets/data/social-media-links.json";
import radicalDataLogo from "/assets/radical-data-logo.svg";
import RadicalDataInBarcelona from "@assets/media/radical-data-in-barcelona.png";
---

<Layout title="Press | Radical Data" description="Text and Media for press">
  <main>
    <article>
      <h1>Press</h1>
      <p>
        Ok, you've found us. You see that we bring something new to the world of
        data/art/activism and now you want to write about us/give us a
        talk/boast that you know us.
      </p>
      <p>Here are some texts, media and links to make that smooth.</p>
      <section>
        <h2>Copy</h2>
        <h3>One-line Description</h3>
        <p>
          Radical Data is a collective of researchers, artists and activists
          exploring the radical potential of data science.
        </p>
        <h3>Description</h3>
        <p>
          Run by artist Rayén Mitrovich and mathematician Jo Kroese, Radical
          Data combine data and technology to create tools for resistance and
          alternative utopias.
        </p>

        <section>
          <h2>Media</h2>
          <p>Click any picture to download.</p>
          <h3>Logo</h3>
          <a href={radicalDataLogo} download>
            <img src={radicalDataLogo} alt="Radical Data logo" />
          </a>
          <h3>Pictures of Radical Data</h3>
          <a href={RadicalDataInBarcelona} download>
            <img
              src={RadicalDataInBarcelona}
              alt="Radical Data on the roof of their studio in Barcelona"
            />
          </a>
          <h3>Representative Pictures of Radical Data Projects</h3>
        </section>
        <section>
          <h2>Social Media Links</h2>
          <ul>
            {
              Object.entries(socialMediaLinks.social).map((item) => (
                <li>
                  {item[0]}:{" "}
                  <a href={item[1]}>
                    {item[1].substring(item[1].lastIndexOf("/") + 1)}
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </section>
    </article>
  </main>
</Layout>
<style>
  ul,
  li {
    font-family: "LindenHill";
  }
  article {
    max-width: min(55ch);
  }
  main {
    margin-block-end: 2rem;
  }
</style>
