---
import CardGrid from "@components/CardGrid.astro";
import Card from "@components/Card.astro";
import Layout from "@layouts/Layout.astro";

const { title, collection, description, shortStatement } = Astro.props;
import { getCollection } from "astro:content";
const posts = await getCollection(collection);
---

<Layout title={`${title} | Radical Data`} description={description}>
  <main>
    <article>
      <section>
        <h1>{title}</h1>
        <p>{shortStatement}</p>
        <CardGrid>
          {
            posts.map((post: any) => (
              <div>
                <Card
                  href={`${collection}/${post.slug}`}
                  pretitle={post.data.status}
                  title={post.data.title}
                  body={post.data.extract}
                  type="project"
                  imgLink={post.data.featuredImage}
                  aspectRatio={eval(post.data.aspectRatio)}
                  imgAltText={post.data.featuredImageAlt}
                />
              </div>
            ))
          }
        </CardGrid>
      </section>
    </article>
  </main>
</Layout>
<style>
  ul,
  li {
    font-family: "LindenHill";
  }
  article {
    /* max-width: min(55ch); */
  }
  main {
    margin-block-end: 2rem;
  }

  .grid-item {
    width: 100%;
  }

  .grid-item {
    margin-block-end: 5%;
  }

  @media (min-width: 800px) {
    .grid-item {
      width: 48%;
    }
  }

  .grid-item {
    float: left;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }
</style>
